* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}

nav {
  background: black;
  color: white;
  height: 50px;
  font-size: 25px;
  display: flex;
  align-items: center;
  padding: 0 12px;
}
nav ul {
  list-style: none;
}
.wrapper {
  background-color: #fff;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.container {
  display: grid;
  grid-template-columns: repeat(3, 10vw);
  grid-template-rows: repeat(3, 10vw);
  position: relative;
}
.box {
  border: 2px solid black;
  font-size: 8vw;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box:hover {
  background-color: rgb(197, 139, 251);
}
.info {
  font-size: 22px;
}
.gameInfo {
  padding: 0 35px;
}
.gameInfo h1 {
  font-size: 2.5rem;
}

.imgbox img {
  width: 0;
  transition: width 1s ease-in-out;
}
.br-0 {
  border-right: 0;
}
.bl-0 {
  border-left: 0;
}
.bt-0 {
  border-top: 0;
}
.bb-0 {
  border-bottom: 0;
}
#reset {
  margin: 0 23px;
  padding: 1px 18px;
  background: #ead3ea;
  border-radius: 6px;
  cursor: pointer;
  font-size: 15px;
  font-weight: bolder;
}
.line {
  background-color: black;
  width: 0;
  height: 3px;
  position: absolute;
  background-color: #911d91;
  transition: width 1s ease-in-out;
}
@media screen and (max-width: 950px) {
  .wrapper {
    flex-wrap: wrap;
  }
  .gameInfo {
    margin-top: 34px;
  }
  .gameInfo h1 {
    font-size: 1.5rem;
  }
  .container {
    grid-template-columns: repeat(3, 20vw);
    grid-template-rows: repeat(3, 20vw);
  }
}
